html {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-areas: 
  "header header header header"
  "hero hero hero hero"
  "about about about about"
  "services services services services"
  "projects projects projects projects"
  "footer footer footer footer";
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

/* HEADER */

.header {
  grid-area: header;
  background-color: orange;
}

/* HERO */

.hero {
  grid-area: hero;
  background-color: cornflowerblue;
}

/* ABOUT */

.about {
  grid-area: about;
  background-color: pink;
}

/* SERVICES */

.services {
  grid-area: services;
  background-color: aqua;
}

/* PROJETS */

.projects {
  grid-area: projects;
  background-color: blueviolet;
}

/* FOOTER */

.footer {
  grid-area: footer;
  background-color: greenyellow;
}