html {
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: #f7f7f7;
  max-width: 900px ;
  display: grid;
  grid-template-areas: 
  "video-destaque propaganda"
  "video-destaque videos-sugeridos";
  grid-template-columns: 1fr 270px;
  grid-template-rows: 56px 1fr;
  gap: 20px;
  padding: 30px;

}

.video-destaque {
  grid-area: video-destaque;
}

.video-destaque img {
  margin-bottom: 12px;
  width: 100%;
}

.video-destaque .titulo {
  font-size: 18px;
  margin-bottom: 7px;
}

.video-destaque .visualizacoes {
  font-size: 14px;
  margin-bottom: 7px;
}

.propaganda {
  grid-area: propaganda;
}

.videos-sugeridos {
  grid-area: videos-sugeridos;
}

.videos-sugeridos .video {
 display: flex;
 gap: 5px;
 margin-bottom: 10px;
}

.videos-sugeridos .video .informacoes {
  font-size: 9px;
  margin-bottom: 10px;
}

.videos-sugeridos .videos p {
  font-size: 11px;
  margin-bottom: 10px;
}