html {
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: #f7f7f7;
  max-width: 900px ;
  display: grid;
  grid-template-areas: 
  "video-destaque propaganda"
  "video-destaque videos-sugeridos";
  grid-template-columns: 1fr 270px;
  grid-template-rows: 56px 1fr;
  grid-gap: 15px;
}

.video-destaque {
  grid-area: video-destaque;
}


.propaganda {
  grid-area: propaganda;
}

.videos-sugeridos {
  grid-area: videos-sugeridos;
}

.videos-sugeridos .video {
 display: flex;
 gap: 5px;
 margin-bottom: 5px;
}

/* .video div {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  font-size: 60%;
} */

/* .videos-sugeridos img {
  height: 70px;
  width: 110px;
  margin: 5px;
} */ 