body {
  background-color: #111827;
  color: white;
  
}

section {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  
}

img {
  width: 50%;
  height: 20%;
  border-radius: 5px;
}

.content {
  height: 100%;
  margin: 30px 0px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 3px 0.3px rgba(246, 244, 244, 0.216);
  cursor: pointer;
  margin: 3px;
}

.primary {
  background-color: #18a990;
}

.secondary {
  background-color: #cc0000;
  color: white;
}

input {
  border: none;
  padding: 10px 2px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px .1px .3px rgba(246, 244, 244, 0.216);
}